ansible==3.3.0
ansible-base==2.10.9
attrs==20.3.0
Automat==20.2.0
beautifulsoup4==4.9.3
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
colorama==0.4.4
colorclass==2.2.0
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.6
cssselect==1.1.0
delegator.py==0.1.1
dnspython==2.1.0
fake-useragent==0.1.11
Flask==1.1.2
frida==12.9.4
frida-tools==9.2.4
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth==1.27.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httplib2==0.19.0
httpx==0.13.3
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
jq==1.1.2
linode-cli==5.0.1
litecli==1.6.0
lxml==4.6.2
MarkupSafe==1.1.1
oauth2client==4.1.3
oauthlib==3.1.0
objection==1.9.4
packaging==20.9
parsel==1.6.0
pexpect==4.8.0
prompt-toolkit==3.0.18
Protego==0.1.16
protobuf==3.14.0
psycopg2==2.8.6
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.8.1
PyHamcrest==2.0.2
pymongo==3.11.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytz==2021.1
PyYAML==5.4.1
queuelib==1.5.0
requests==2.25.1
requests-oauthlib==1.3.0
rfc3986==1.4.0
rsa==4.7.1
Scrapy==2.4.1
scrapy-auto-translation-middleware==0.0.7
selenium==3.141.0
semver==2.13.0
service-identity==18.1.0
six==1.15.0
sniffio==1.2.0
soupsieve==2.2
SQLAlchemy==1.3.22
sqlparse==0.4.1
srvlookup==2.0.0
tabulate==0.8.9
terminaltables==3.1.0
Twisted==20.3.0
uritemplate==3.0.1
urllib3==1.26.3
w3lib==1.22.0
wcwidth==0.2.5
Werkzeug==1.0.1
zope.interface==5.2.0
